/* notes */
/*  
    colors:

    black
    white
    mustard-yellow-orange: #F9A826; 
*/



/* 
Globals
*/
* {
    font-family: 'Montserrat', sans-serif;
}

a {
    font-weight: bold;
    letter-spacing: 1.5px;
}

p {
    line-height: 1.5;
}


/* 
classes
*/
.container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}

.container-al {
    max-width: 1060px;
    margin-right: auto;
}

.btn-pm {
    background-color: #F9A826;
    color: white;
    border: none;
    border-radius: 12px;
    margin-bottom: 5px;
    padding: 10px 15px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    transition: .3s;
    cursor: pointer;
}


.btn-pm:hover {
    background-color: black;
}

/* page sections */


/* *********** HEADER ************* */
header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.476), #f9a826a2), url(../img/alex-knight-j4uuKnN43_M-unsplash-edited.webp);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    color: white;
    text-align: left;
    padding: 20px 80px;
    min-height: 450px;
    margin-bottom: 80px;
    position: relative;
}

header::after {
    content: '';
    background-color: white;
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 1;
    bottom: -40px;
    left: calc(50% - 20px);
    transform: rotate(45deg);
}

header h1 {
    margin-top: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 15px;
    color: rgb(221, 217, 217);
    text-shadow: 0.4rem 0.3rem 0.7rem #9914d6;
}

header h3 {
    text-align: center;
}

header nav ul {
    display: flex;

}

header nav ul li {
    margin-right: 10px;

}

/* *********** END OF HEADER ************* */

/* *********** MAIN ************* */
main {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

main p {
    text-align: left;
}

/* ***********
section 1
************* */
main section:first-of-type,
main section:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
}

main section:first-of-type p {
    max-width: 420px;
}

main section:first-of-type img {
    max-width: 40%;
}

/* ***********
section 2
************* */

main section:nth-child(2) img {
    max-width: 40%;
}

main section:nth-child(2) article {
    max-width: 420px;
}

/* Burger menu controls */

#burger-menu {
    font-size: 25px;
    cursor: pointer;
    color: #F9A826;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
}

#burger-nav {
    margin-right: 30px;
    margin-left: 30px;
}

@media screen and (max-width: 780px) {
    main section:first-of-type img {
        max-width: 70px;
        max-height: 70px;
    }

    main section:nth-child(2) {
        flex-wrap: wrap-reverse;
    }
}

/* *********** END OF MAIN ************* */

/* *********** FOOTER ************* */