/* notes */
/*  
    colors:

    black
    white
    mustard-yellow-orange: #F9A826; 
*/



/* 
Globals
*/
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #202124;
}

a {
    letter-spacing: 1.5px;
}

p {
    line-height: 1.5;
    font-family: 'Montserrat',
        sans-serif;
}


/* 
classes
*/
.container {
    max-width: 800px;
    padding: 15px 30px 30px;
    margin-left: auto;
    margin-right: auto;
}

.container-al {
    max-width: 1060px;
    margin-top: -20px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    justify-content: space-between;

}

.btn-pm {
    background-color: rgb(212, 160, 112);
    color: white;
    border: none;
    border-radius: 12px;
    margin-bottom: 5px;
    padding: 8px 15px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    transition: .3s;
    cursor: pointer;
}


.btn-pm:hover {
    background-color: #202124;
}

.d-flex-pm {
    display: flex;
    flex-direction: column;
}


.flex-1-pm {
    width: 45%;
}

/* page sections */


/* *********** HEADER ************* */
header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.476),
            #f9a826a2),
        url(../img/alex-knight-j4uuKnN43_M-unsplash-edited.webp);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    color: white;
    text-align: left;
    padding: 20px 80px;
    min-height: 450px;
    margin-bottom: 40px;
    position: relative;
}

/* header::after {
    content: '';
    background-color: #202124;
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 1;
    bottom: -40px;
    left: calc(50% - 20px);
    transform: rotate(45deg);
} */

header h1 {
    margin-top: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 15px;
    color: white;
    /* text-shadow: 0.4rem 0.3rem 0.7rem #9914d6; */
}

header h3 {
    text-align: center;
}

header div:first-of-type {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;

}

header nav ul li {
    margin-right: 10px;

}

/* *********** END OF HEADER ************* */

/* *********** MAIN ************* */
main {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

main p {
    text-align: left;
}

/* ***********
section 1
************* */
#about {
    background-image:
        linear-gradient(to right, rgb(0, 0, 0),
            rgba(249, 168, 38, 0.504)),
        url(../img/karl-pawlowicz-gbRaa67fEPo-unsplash.jpg);
    background-size: cover;
    background-position: right 70% bottom 2%;
    color: white;
    width: 100%;
    margin-top: -80px;
    position: relative;
}

#about::after {
    content: "";
    width: 240px;
    height: 240px;
    background-color: #202124;
    transform: rotate(45deg);
    position: absolute;
    top: 90px;
    left: 680px;
}

main section:first-of-type,
main section:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    color: white;
}

main section:first-of-type p {
    max-width: 420px;
    font-size: 1.5rem;
}

main section:first-of-type img {
    max-width: 40%;
}

/* ***********
section 2
************* */

#projects {
    background-image: linear-gradient(to right, rgba(212, 160, 112, 0.25), black),
        url(../img/mariya-pampova-sM2gS6hwDzM-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    margin-top: 45px;
}

main section:nth-child(2) img {
    max-width: 40%;
}

main section:nth-child(2) article {
    max-width: 420px;
}

/* Burger menu controls */


#burger-menu {
    font-size: 25px;
    cursor: pointer;
    color: rgb(239, 199, 161);
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    text-shadow: 0 3px 7px rgba(0, 0, 0, 0.504);
    padding: 8px 15px;
}

#burger-menu:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    text-shadow: none;
    border-radius: 12px;

}

#burger-nav {
    margin-right: 30px;
    margin-left: 30px;
}


/* ***********
section 3
************* */

#contact {
    margin-top: 20px;
    width: 100%;
    height: 500px;
    color: white;
    text-align: left;
    background-image: linear-gradient(white,
            rgba(0, 0, 0, 0.394) 50%),
        url(../img/l-d-i-a-dQdyO9jsixA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}


#contact article div.img-text-overlay {
    position: relative;
}

#contact article div.img-text-overlay article {
    height: 400px;
    width: 300px;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 1px;
    left: 30px;
    box-shadow: 0 3px 7px rgba(255, 255, 255, 0.579);
    border-radius: 12px;
    background-image: url(../img/l-d-i-a-dQdyO9jsixA-unsplash.jpg);
    background-position: center;
    background-size: contain;
    transition: 2s;
}

#contact article div.img-text-overlay article:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.408), rgba(255, 255, 255, 0.346));
    color: black;
}

/* #contact article div img {
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 3px 7px rgba(255, 255, 255, 0.579);
    transition: 0.3s;
}
 */

@media screen and (max-width: 780px) {
    main section:first-of-type img {
        max-width: 70px;
        max-height: 70px;
    }

    main section:nth-child(2) {
        flex-wrap: wrap-reverse;
    }
}

/* *********** END OF MAIN ************* */

/* *********** FOOTER ************* */